<%# Used to show the current user profile and all his/her events %>
<div id="profile-page-header" class="card">
	<div class="row">
		<div class="col s2 left-align profile">
			<%= image_tag(@user.picture.url, class: "responsive-img circle profile-picture-small") %>
		</div>
		<div class="col s2 left-align">
			<h4 class="card-title grey-text text-darken-4"><%= @user.firstname %> <%= @user.lastname %></h4>
			<p class="medium-small grey-text">Name</p>
		</div>
		<div class="col s3 left-align">
			<h4 class="card-title grey-text text-darken-4"><%= @user.email %></h4>
			<p class="medium-small grey-text">Email Address</p>
		</div>
		<div class="col s2 left-align">
			<h4 class="card-title grey-text text-darken-4">In Progress</h4>
			<p class="medium-small grey-text">Events</p>
		</div>
		<div class="col s2 left-align">
			<h4 class="card-title grey-text text-darken-4">In Progress</h4>
			<p class="medium-small grey-text">Following</p>
		</div>

	</div>
</div>
