
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    
    <div class="row center" id="hero-text-box">
      <h1 class="header white-text">
        Connect and explore different cuisines.</h1>
      <h1 class="header white-text">
        Or simply enjoy a meal together and share your stories.</h1>
    
        <%= link_to "Get Started", new_user_registration_path, id: "download-button", 
                      class: "btn-large waves-effect waves-light btn" %>
    </div>

    <br><br>

  </div>
</div>
